

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
          NAVIGATION
   ========================================================================== */

.nav>li {
  display: inline-block;
  padding-top: 5px;
}

.nav-link,
.navbar-brand {
	color:black;
}

.navbar-header {
  padding-left: 15%;
}





@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}



/* ==========================================================================
   HOME
   ========================================================================== */
.main-cover {
  padding-top: 1.5em;
  padding-bottom: 2em;
  width: 90%;
}


}

/* ==========================================================================
   ABOUT
   ========================================================================== */



.bio-header {
  padding-top: 2em;
}

.about-col {
  margin-left: 1em;
  margin-right: 1em;
}



/* ==========================================================================
   MuSIC
   ========================================================================== */


.reel {
  justify-content: center;
}

.soundcloud-link {
    margin-bottom: 15px;
}



/* ==========================================================================
   GALLERY
   ========================================================================== */



/* ==========================================================================
   CONTACT
   ========================================================================== */

.contact-img {
  width: 100%;
  height: 300px;
  float:right;

}

.banner {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 3em;
  text-align: center;
}

.info {
  margin-top: 90px;
}



/* ==========================================================================
   Font
   ========================================================================== */

p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: Garamond;
}