

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.nav>li {
  display: inline-block;
  padding-top: 5px;
}

.nav-link,
.navbar-brand {
	color:black;
}

.navbar-header {
  padding-left: 15%;
}
.main-cover {
  padding-top: 1.5em;
  padding-bottom: 2em;
  width: 90%;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
