

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
          NAVIGATION
   ========================================================================== */

.nav>li {
  display: inline-block;
  padding-top: 5px;
}

.nav-link,
.navbar-brand {
	color:black;
}

.navbar-header {
  padding-left: 15%;
}





@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}



/* ==========================================================================
   HOME
   ========================================================================== */
.main-cover {
  padding-top: 1.5em;
  padding-bottom: 2em;
  width: 90%;
}


}

/* ==========================================================================
   ABOUT
   ========================================================================== */



.bio-header {
  padding-top: 2em;
}

.about-col {
  margin-left: 1em;
  margin-right: 1em;
}
















